<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <meta charset="UTF-8">
    <title>CSS Club</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<div class="container-fluid nav-scroller">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="nav-link mx-auto" href="https://usm.maine.edu/"><span><img alt="USM logo" class="sticky-top pl" style="height: 60px; width: 100px;" src="https://shop.usm.maine.edu/site/USM/product-images/60866507442_main-01.default.jpg?resizeid=2&resizeh=600&resizew=600"/></span></a>
        <div class="container-fluid justify-content-around d-flex">
            <a class="nav-item nav-link active" href="Index.html">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="Events.html">Event</a>
            <a class="nav-item nav-link" href="Gallery.html">Gallery</a>
        </div>
    </nav>
</div>
<div class="pt-2 text-center ">
    <h1 style="border: 1px solid black;" class="container-sm py-3 text-bg-primary">Project Gallery</h1>
    <p class ="pt-2">Gallery to show stunning personal projects.</p>
</div>
<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-md css-blurb m-3 p-3">
            <h2 class="card-header">Neutral Net</h2>
            <a href="https://neutralnet.app/" target="_blank"><img alt="Photo Of NeutralNet Front Page " class="container-fluid" src="../static/NeutralNetPng.png" title="NeutralNet By Clayton Durepos"/></a>
            <div class="card-body border-top">
                <h5 class="card-text border-top py-2"><strong>By Clayton Durepos</strong></h5>
                <p class="card-text border-top py-2">Neutral Net is an AI-powered tool designed to search for news articles and analyze them for bias. Developed by Clayton Durepos for the COS398 Ethics and Social Impacts of Computing course at the University of Southern Maine, the application utilizes SerpAPI to retrieve Google search results and employs a fine-tuned BERT model to assess and score each article's bias. The bias scores range from 0 to 100, with lower scores indicating more factual content and higher scores suggesting greater bias. This tool aims to help combat the spread of misinformation by providing users with insights into the bias of news articles. </p>


            </div>
        </div>
        <div class="col-md css-blurb m-3"> Image Goes Here
            <div class="card-body border-top">
                <p class="card-text">Project 1</p>
            </div>
        </div>
        <div class="col-md css-blurb m-3"> Image Goes Here
            <div class="card-body border-top">
                <p class="card-text">Project 2</p>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class="col-md css-blurb m-3"> Image Goes Here
            <div class="card-body border-top">
                <p class="card-text">Project 3</p>
            </div>
        </div>
        <div class="col-md css-blurb m-3"> Image Goes Here
            <div class="card-body border-top">
                <p class="card-text">Project 4</p>
            </div>
        </div>
        <div class="col-md css-blurb m-3"> Image Goes Here
            <div class="card-body border-top">
                <p class="card-text">Project 5</p>
            </div>
        </div>
        <div class = "row">
            <div class="col-md css-blurb m-3">
                <div class="card-body border-top">
                    <p class="card-text">Project 6</p>
                </div>
            </div>
            <div class="col-md css-blurb m-3"> Image Goes Here
                <div class="card-body border-top">
                    <p class="card-text">Project 7</p>
                </div>
            </div>
            <div class="col-md css-blurb m-3"> Image Goes Here
                <div class="card-body border-top">
                    <p class="card-text">Project 8</p>
                </div>
            </div>
</div>

</div>

<div class="container my-4 py-4">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/static" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <i class="bi bi-bootstrap"></i>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary flex-nowrap">© 2025 CSS, Computer Science Society</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Instagram"></a><i class="bi bi-instagram"></i></li>
            <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Facebook"><i class="bi bi-github"></i></a></li>
        </ul>
    </footer>
</div>
</div>

</body>
</html>